header{
    background: #2F2E2F;
    display: flex;
    padding: 2.5em;
    position: fixed;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #ccc;
}

#logo{
    /* width: 30%; */
}
  
#logo h1{
    font-family: 'Bebas Neue';
    margin: 0;
    color: #2BD63C;
    letter-spacing: .09em;
    font-size: 3.5em;
}

nav ul{
    display: flex;
    gap: 1.5em;
    color: #ccc;
    align-items: center;
    /* justify-content: center; */
    margin: 0;
    height: 100%;
    flex-wrap: wrap;
}

nav ul li{
    list-style: none;
    display: flex;
    gap: .5em;
    transition: .4s;
    cursor: pointer;
}

nav ul li:hover{
    color: #2bd63cb5;
}

@media screen and (max-width: 769px){
    nav ul li{
        font-size: 1.3em;
    }
}