@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@500;600;900&display=swap');

body{
  margin: 0;
  font-family: 'Inter';
  background: #1c1b1b;
  scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth;
}

.container{
  padding: 2.5em;
  padding-top: 10em;
}

.row{
  display: flex;
  gap: 3em;
}

h2{
  color: #ccc;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3em;
  margin-top: 2em;
  text-align: center;
}

h2:not(:first-of-type){
  margin-top: 2em;
}

h2::after, h2::before{
  content: '';
  width: 45px;
  height: 4px;
  background: #2BD63C;
  display: inline-block;
}

@media screen and (max-width: 769px){
  #logo{
    width: 100%;
  }

  .row, header{
    flex-wrap: wrap;
  }

  .container{
    padding-top: 15em;
  }

  nav ul{
    padding: 0;
    justify-content: center;
    padding-top: 1em;
  }

  header{
    text-align: center;
  }

  h2{
    font-size: 2em;
  }
}