@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@500;600;900&display=swap');

body{
  margin: 0;
  font-family: 'Inter';
  background: #1c1b1b;
}

.container{
  padding: 2.5em;
}

.row{
  display: flex;
  gap: 3em;
}